<a id="post" href="~link~">
    <h2>
        <span><!-- title --></span>
    </h2>
    <div class="sub-heading">
        <p>
            <img src="../assets/user.svg" />
            <!-- user -->
            <img src="../assets/calendar.svg" />
            <!-- date -->
        </p>
        <p>
            <img src="../assets/clock.svg" />
            <!-- read_time -->
            <img src="../assets/pencil.svg" />
            <!-- word_count -->
        </p>
    </div>
    <summary>
        <!-- summary -->
    </summary>
</a>