<a id="post" href="~link~">
    <div id="title">
        <span style="color: var(--primary);">#</span>
        <span id="text"><!-- title --></span>
    </div>
    <div id="metadata">
        <div style="margin-right: auto;">
            <img src="../assets/user.svg" />
            Bay
            <img src="../assets/calendar.svg" />
            <!-- date -->
        </div>
        <div>
            <img src="../assets/clock.svg" />
            <!-- read_time -->
        </div>
    </div>
    <summary>
        <!-- summary -->
    </summary>
</a>