<a class="post" href="<!-- link -->">
    <div id="title">
        <span id="hash">#</span>
        <span id="text"><!-- title --></span>
    </div>
    <div id="metadata">
        <div id="metadata-left">
            <svg>
                <use xlink:href="#user" />
            </svg>
            <span style="padding-right: 4px">Bay</span>
            <svg>
                <use xlink:href="#calender" />
            </svg>
            <!-- date -->
        </div>
        <div id="metadata-right">
            <svg>
                <use xlink:href="#clock" />
            </svg>
            <!-- read_time -->
        </div>
    </div>
    <summary>
        <!-- summary -->
    </summary>
</a>