<a id="post" href="~link~">
    <div id="title">
        <span style="color: var(--accent);">#</span>
        <span id="text"><!-- title --></span>
    </div>
    <div id="metadata">
        <div style="margin-right: auto;">
            <svg>
                <use xlink:href="#user" />
            </svg>
            Bay
            <svg>
                <use xlink:href="#calender" />
            </svg>
            <!-- date -->
        </div>
        <div>
            <svg>
                <use xlink:href="#clock" />
            </svg>
            <!-- read_time -->
        </div>
    </div>
    <summary>
        <!-- summary -->
    </summary>
</a>