<header>
    <div class="header-bar"></div>
    <div class="main"><a href="index.html">zX3no</a></div>
    <nav>
        <a href="index.html">/home</a>
        <a href="posts.html">/posts</a>
        <a href="projects.html">/projects</a>
        <a href="about.html">/about</a>
    </nav>
</header>

<h1 style="text-align: center;">Posts</h1>

<main class="list">
    <ul>
        {% for post in posts %}
        <a class="test" href="{{ post.name }}">
            <h2>
                <span>{{ post.title }}</span>
            </h2>
            <div class="sub-heading">
                <p>
                    <i class="fa fa-user"></i>
                    {{ post.user }}
                    <i class="fa fa-calendar"></i>
                    {{ post.date }}
                </p>
                <p>
                    <i class="fa fa-clock-o"></i>
                    {{ post.duration }}
                    <i class="fa fa-pencil"></i>
                    {{ post.words }}
                </p>
            </div>
            <p>
                {{ post.overview }}
            </p>
        </a>
        {% endfor %}
    </ul>
</main>