  :root {
      --text: rgba(255, 255, 255, 87%);
      --text-dim: rgba(255, 255, 255, 50%);
      /* --bg: #121212; */
      --bg: #141516;
      --bg-1: rgba(255, 255, 255, 5%);
      --primary: #aa61c5;
  }

  @font-face {
      font-family: "jetbrains";
      src: url('../fonts/JetBrainsMono.ttf');
      /* Ensure text remains visible during webfont load */
      /* font-display: swap; */
      font-display: block;
  }

  body {
      background: var(--bg);
      color: var(--text);
      max-width: 944px;
      margin: 0 auto;
      padding: 0 24px;
      word-wrap: break-word;
      /* Show vertical scrollbar */
      overflow-y: scroll;

      font-family: "jetbrains", monospace;
      font-weight: 400;
  }

  header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 0.25em;
      padding-bottom: 1em;
      font-size: 40px;
  }

  header a:hover {
      background-color: var(--primary);
  }

  header nav {
      display: flex;
      padding: 1.0em;
      font-size: 20px;
  }

  header nav a {
      margin-left: 0.7em;
  }

  /* I believe this would require some javascript :/*/
  /* @media only screen and (max-width: 900px) {
      header nav a {
          display: none;
      }
  } */

  .header-bar {
      border-top: 4px solid;
      border-image-source: linear-gradient(90deg, var(--bg), var(--primary), var(--bg));
      border-image-slice: 1;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
  }

  .article-header {
      font-size: 2.25em;
      padding-bottom: 10px;
      font-weight: 801;
      text-align: center;
  }

  .sub-heading {
      display: flex;
      justify-content: space-between;
  }

  .time {
      font-size: 16px;
      color: #999;
      letter-spacing: -0.5px;
      padding-left: 25px;
  }

  a {
      text-decoration: none;
      color: inherit;
      border-bottom: 3px solid var(--primary);
  }

  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20%;
  }

  p {
      font-size: 18px;
      font-weight: 300;
      color: (--text-dim);
      line-height: 1.5;
  }

  h1::before {
      color: var(--primary);
      content: "# ";
  }

  h2::before {
      color: var(--primary);
      content: "# ";
  }

  h3::before {
      color: var(--primary);
      content: "# ";
  }

  h4::before {
      color: var(--primary);
      content: "# ";
  }

  h5::before {
      color: var(--primary);
      content: "# ";
  }

  h6::before {
      color: var(--primary);
      content: "# ";
  }

  .math {
      display: none;
  }


  /* The navigation menu links in posts */
  .sidebar {
      z-index: 1;
      position: fixed;
      top: 10%;
      left: 75%;
  }

  .sidebar a {
      text-decoration: none;
      font-size: 18px;
      color: var(--text);
      margin: 2px;
      display: block;
      border: solid 2px rgb(0, 0, 0, 0);
      border-radius: 5%;
  }

  .sidebar a:hover {
      color: var(--bg-0);
      background: rgb(37, 128, 212);
      border: solid 2px rgb(37, 128, 212);
  }

  .post-header {
      font-size: 44px;
      line-height: 100%;
  }

  .post-metadata {
      font-size: 18px;
      color: #999;
      letter-spacing: -0.5px;
  }

  .dot {
      font-size: 1.6em;
      color: var(--primary)
  }