 :root {
     --text: rgba(255, 255, 255, 87%);
     /* --bg: #121212; */
     --bg: #141516;
     --bg-1: rgba(255, 255, 255, 5%);
     --primary: #aa61c5;
     --pink: #ff79c6;
     --cyan: #8be9fd;
 }

 @font-face {
     font-family: "jetbrains";
     src: url('../fonts/JetBrainsMono.ttf');
     /* Ensure text remains visible during webfont load */
     /* font-display: swap; */
     font-display: block;
 }

 body {
     margin: 6px 24px 0px 24px;

     background: var(--bg);
     color: var(--text);

     /* Show vertical scrollbar */
     overflow-y: scroll;

     font-family: "jetbrains", monospace;
     font-weight: 400;
 }

 a {
     border-bottom: 3px solid var(--primary);
     padding-bottom: 1px;
     text-decoration: none;
     color: inherit;
 }

 p {
     font-size: 18px;
     line-height: 1.5;
 }

 #top-bar {
     border-top: 4px solid;
     border-image-source: linear-gradient(90deg, var(--bg), var(--primary), var(--bg));
     border-image-slice: 1;
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     animation: 20s infinite alternate example;

 }

 #grid {
     padding: 0;
     display: grid;
     grid-template-columns: 1fr minmax(0px, 950px) 1fr;
     grid-template-rows: 1fr auto;
 }

 #center {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     padding-bottom: 16px;
     padding-top: 8px;
 }

 #center a:hover {
     background-color: var(--primary);
 }

 #bottom-middle {
     border-radius: 6px;
     /* box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 0.2); */
     padding: 8px;
 }

 #bottom-right {
     padding-left: 24px;
     width: fit-content;
 }

 #table-of-contents {
     position: sticky;
     top: 0;
     list-style: none;
     line-height: 150%;
 }

 #table-of-contents p {
     margin: 0;
     margin-bottom: 8px;
 }

 #table-of-contents ul {
     list-style-type: none;
     border-left: 1px solid #686363;
     margin: 8px;
     padding-left: 8px;
 }

 #table-of-contents a {
     display: block;
     border: 0;
     padding: 2px;
 }

 #table-of-contents .is-active {
     background-color: #485fc7;
     color: #fff;
 }

 #table-of-contents a:not(.is-active):hover {
     background-color: #f5eeee33;
     color: var(--text);
 }

 h1::before {
     color: var(--primary);
     content: "# ";
 }

 h2::before {
     color: var(--primary);
     content: "# ";
 }

 h3::before {
     color: var(--primary);
     content: "# ";
 }

 h4::before {
     color: var(--primary);
     content: "# ";
 }

 h5::before {
     color: var(--primary);
     content: "# ";
 }

 h6::before {
     color: var(--primary);
     content: "# ";
 }